<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}

<body>
    {% include svg-icons.html %} {% include header-post.html %} {% include tree-posts.html %}
    <section class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>

        <div class="subtitle">
            {% if page.description %}
            <h4 class="description">{{ page.description }}</h4>
            
        
        {% endif %} 
        {% if page.date %}
        <time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
        {% endif %}
<hr></div>

        <article role="article" id="scroll" class="post-content" itemprop="articleBody">

            {{ content }}
        </article>

        {% include share.html %} {% include comments.html %} {% include footer.html %} {% include scripts.html %}
    </section>
</body>

</html>